
{% extends 'vaseline/student/base.html' %}


{% block navbar %}

{% include 'vaseline/student/nav.html' %}

{% endblock %}


{% block content %}

{% for set in sets %}
<div class="container">
    <div class="row">
        <div class="col-3">
            <div class="card">
                <div class="card-header">
                    {{set.name}}
                </div>
                <div class="card-body">
                    <h5 class="card-title">Title</h5>
                    
                </div>
            </div>
        </div>
    </div>
</div>
    <a href="{% url 'set' id=set.uuid %}"> {{set.name}} </a>
{% empty %}
        {# no set found notice #}
        <div class="container mt-5">
            <div class="row justify-content-center">
                <div class="col-md-8">
                    <h3 class="text-center">Hello , {{user.username}}</h3>
                    <h5 class="text-center">You don't have any set yet!!</h5>
                    <div class="text-center">
                        <a href="{% url 'join-set' %}" class="btn  btn-primary">Join A Problem Set</a>
                    </div>
                </div>
            </div>
        </div>
{% endfor %}


{% endblock %}
